.ellipsis
  text-overflow ellipsis
  white-space nowrap
  word-wrap break-word
  word-break break-all
  overflow hidden
.clearfix
  &:after
    content: ""
    display: table
    clear: both
*
  box-sizing border-box
.hide
  display none